@use "../variables/" as *;



body {
  font-family: $ff-body;
  font-weight: $fw-light;
  font-size: $fs-body;
  color: var(--color-neutral-800);
  background-color: var(--color-neutral-100);
  min-width: fit-content;
  // line-height: 1.25rem;
}

$link-color: $color-accent-400;
$link-color-hover: $color-accent-700;

a {
  color: $link-color;
  text-decoration: none;
}

a.underline {
  border-bottom: none;
  border-bottom: 1px solid $link-color;
}

a:is(:hover, :focus) {
  color: $link-color-hover;
  border-color: $link-color-hover;
}