@use "../variables/" as *;



body {
  font-family: $ff-body;
  font-weight: $fw-light;
  font-size: $fs-body;
  color: var(--color-neutral-800);
  background-color: var(--color-neutral-100);
  // line-height: 1.25rem;
}

$link-color: $color-accent-700;
$link-color-hover: $color-accent-400;

a {
  color: $link-color;
}

a:is(:hover, :focus) {
  color: $link-color-hover;
}