@use "colors" as *;

/* gradient */
$background--gradient: linear-gradient(
  135deg,
  $color-accent-400,
  65.3,
  $color-accent-200,
  93.2%
);
$accent-colorful-gradient: linear-gradient(
  45deg,
  $color-accent-200,
  #da62c4 30%,
  white 60%
);
$background-image-temp: linear-gradient(
  109.6deg,
  rgba(15, 2, 2, 1) 65.2%,
  rgba(36, 163, 190, 1) 93.1%
);
$background-image-temp1: radial-gradient(
  circle farthest-corner at 50% 30%,
  // rgb(65, 21, 74) 0%,
  rgb(9, 25, 67) 0.2%,
  rgb(6, 5, 36) 50%
);
$background-image-temp2: radial-gradient(
  circle farthest-corner at 10% 20%,
  rgba(100, 43, 115, 1) 0%,
  rgba(4, 0, 4, 1) 90%
);


// $gradient-stop-1: $accent-light;
// $gradient-stop-2: $accent-regular;
// $gradient-stop-3: $accent-dark;
// $gradient-subtle: linear-gradient(150deg, $gray-900, 19%, $gray-999, 150%);
// $gradient-accent: linear-gradient(
//   150deg,
//   $gradient-stop-1,
//   $gradient-stop-2,
//   $gradient-stop-3
// );
// $gradient-accent-orange: linear-gradient(
//   150deg,
//   #ca7879,
//   $accent-regular,
//   $accent-dar
// );
// $gradient-stroke: linear-gradient(180deg, $gray-900, $gray-700);

/* Shadows */
$shadow-sm: 0px 6px 3px rgba(9, 11, 17, 0.01), 0px 4px 2px rgba(9, 11, 17, 0.01),
  0px 2px 2px rgba(9, 11, 17, 0.02), 0px 0px 1px rgba(9, 11, 17, 0.03);
$shadow-md: 0px 28px 11px rgba(9, 11, 17, 0.01),
  0px 16px 10px rgba(9, 11, 17, 0.03), 0px 7px 7px rgba(9, 11, 17, 0.05),
  0px 2px 4px rgba(9, 11, 17, 0.06);
$shadow-lg: 0px 62px 25px rgba(9, 11, 17, 0.01),
  0px 35px 21px rgba(9, 11, 17, 0.05), 0px 16px 16px rgba(9, 11, 17, 0.1),
  0px 4px 9px rgba(9, 11, 17, 0.12);
