// ==== font family ========
// @font-face {
//   font-family: "Alegreya SC";
//   font-weight: 700;
//   font-display: swap;
//   src: url("/fonts/alegreyasc-bold-webfont.woff2") format("woff2"),
//     url("/fonts/alegreyasc-bold-webfont.woff") format("woff");
// }
$-ff-sans: system-ui, sans-serif;
$-ff-serif: serif;

$ff-base: $-ff-sans;
$ff-accent: $-ff-sans;

$ff-primary: "Be Vietnam Pro";
$ff-secondary: "IBM Plex Mono";
$ff-system: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$ff-body: $ff-primary, $ff-system;
$ff-heading: $ff-primary;

// ==== font weight ========
$fw-light: 300;
$fw-regular: 400;
$fw-semi-bold: 500;
$fw-bold: 700;

// ==== font size ========
$fs-xs: 0.75rem;
$fs-sm: 0.875rem;
$fs-regular: 1rem;
$fs-lg: 1.875rem;
$fs-xl: 2.5rem;
$fs-2xl: 3.5rem;

// ==== contextual font variables ========
$fs-body: $fs-regular;
$fs-primary-heading: $fs-xl;
$fs-secondary-heading: $fs-regular;
$fs-nav: $fs-regular;
$fs-button: $fs-xs;

// used for generating utility classes
$font-sizes: (
  xs: $fs-xs,
  sm: $fs-sm,
  regular: $fs-regular,
  lg: $fs-lg,
  xl: $fs-xl,
  2xl: $fs-2xl,
);

$font-weights: (
  light: $fw-light,
  regular: $fw-regular,
  semi-bold: $fw-semi-bold,
  bold: $fw-bold,
);

h1 {
  font-size: $fs-2xl;
}

h2 {
  font-size: $fs-xl;
}

h3 {
  font-size: $fs-lg;
}

h4 {
  font-size: $fs-regular;
}

h5 {
  font-size: $fs-sm;
}

// $font-sizes: (
//   "small": (
//     "900": 3.75rem,
//     "800": 2.25rem,
//     "700": 1.75rem,
//     "600": 1.125rem,
//     "500": 1.125rem,
//     "400": 1rem,
//     "300": 0.925rem,
//     "200": 0.875rem,
//   ),
//   "large": (
//     "900": 3.75rem,
//     "800": 3rem,
//     "700": 1.75rem,
//     "600": 1.3125rem,
//     "500": 1.125rem,
//     "400": 1rem,
//     "300": 0.925rem,
//     "200": 0.875rem,
//   ),
// );
