@use "../variables/colors" as *;

*:where(.fade) {
  background-image: linear-gradient(
    130deg,
    var(--color-neutral-900) 0%,
    rgba($color-neutral-500, 0.21) var(--fade--starter, 80%)
  );
  background-clip: text;
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;

}
