@use "../variables/colors" as *;
@use "../variables/mixins" as *;

*:where(.fade) {
  background-image: linear-gradient(
    130deg,
    var(--color-neutral-900) 0%,
    rgba($color-neutral-500, 0.21) var(--fade--starter, 80%)
  );
  background-clip: text;
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;

  @include theme(light) {
    background-image: linear-gradient(
      130deg,
      var(--color-primary-700) 0%,
      rgba($color-neutral-400, 0.21) var(--fade--starter, 80%)
    );
  }
}
