:root {
  --gray-0: #ffffff;
  --gray-50: #f3f4f7;
  --gray-100: #e3e6ee;
  --gray-200: #c3cadb;
  --gray-300: #a3acc8;
  --gray-400: #8490b5;
  --gray-999-basis: 225, 31%, 5%;
  --gray-999: #090b11;

  /*
    Dark colors
    
    Notes:
        ~ Only limited to 3 because a wide range of colors don't look good in 
        dark themes.
    */

  --dark-color: #191c20;
  --dark-color-light: #25282c;
  --dark-color-dark: #111417;

  /* Gray colors */

  --gray-color: #dadfe1;
  --gray-color-light: #ecf0f1;
  --gray-color-very-light: #f7f7f7;
  --gray-color-dark: #bababc;
  --gray-color-very-dark: #47494d;

  /* accent */
  --gray-500: #6474a2;
  --gray-600: #505d84;
  --gray-700: #3d4663;
  --gray-800: #283044;
  --gray-900: #141925;

  --accent: 124, 58, 237;
  --accent-primary: rgb(35, 51, 65) 51.6%;
  --accent-primary-light: rgb(59, 80, 98) 90.8%;
  --accent-light: #c561f6;
	--accent-regular: #7611a6;
	--accent-dark: #e7ccef;

  /* font  */
  --fs-200: .85rem;
  --fs-300: 1rem;
  --fs-400: 1.125rem;
  --fs-500: 1.25rem;
  --fs-600: 1.5rem;
  --fs-700: 1.75rem;
  --fs-800: 2rem;
  --fs-900: 4.5rem;

  /* Typography */
  --font-system: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --font-default: "IBM Plex Mono", var(--font-system);
  --font-brand: Rubik, var(--font-system);

  /* font weight */
  --fw-regular: 500;
  --fw-bold: 600;
  --fw-strong-bold: 700;

  --transition-base: 0.2s ease-in-out;

  /* breakpoints  */
  --bp-xs: 480px;
  --bp-sm: 600px;
  --bp-md: 768px;
  --bp-lg: 1024px;
  --bp-xl: 1200px;

  /* gradient */
  --background--gradient: linear-gradient(
    135deg,
    var(--accent-primary) 65.3%,
    var(--accent-primary-light) 93.2%
  );
  --accent-colorful-gradient: linear-gradient(
    45deg,
    rgb(var(--accent)),
    #da62c4 30%,
    white 60%
  );
  --background-image-temp: linear-gradient(
    109.6deg,
    rgba(15, 2, 2, 1) 65.2%,
    rgba(36, 163, 190, 1) 93.1%
  );
  --background-image-temp1:  radial-gradient( circle farthest-corner at 50% 30%,  rgb(65, 21, 74) 0%, rgb(22, 1, 22) 50%)
  ;
  --background-image-temp2: radial-gradient( circle farthest-corner at 10% 20%,  rgba(100,43,115,1) 0%, rgba(4,0,4,1) 90% );

  --gradient-stop-1: var(--accent-light);
	--gradient-stop-2: var(--accent-regular);
	--gradient-stop-3: var(--accent-dark);
	--gradient-subtle: linear-gradient(150deg, var(--gray-900) 19%, var(--gray-999) 150%);
	--gradient-accent: linear-gradient(
		150deg,
		var(--gradient-stop-1),
		var(--gradient-stop-2),
		var(--gradient-stop-3)
	);
	--gradient-accent-orange: linear-gradient(
		150deg,
		#ca7879,
		var(--accent-regular),
		var(--accent-dark)
	);
	--gradient-stroke: linear-gradient(180deg, var(--gray-900), var(--gray-700));


  /* Shadows */
  --shadow-sm: 0px 6px 3px rgba(9, 11, 17, 0.01),
    0px 4px 2px rgba(9, 11, 17, 0.01), 0px 2px 2px rgba(9, 11, 17, 0.02),
    0px 0px 1px rgba(9, 11, 17, 0.03);
  --shadow-md: 0px 28px 11px rgba(9, 11, 17, 0.01),
    0px 16px 10px rgba(9, 11, 17, 0.03), 0px 7px 7px rgba(9, 11, 17, 0.05),
    0px 2px 4px rgba(9, 11, 17, 0.06);
  --shadow-lg: 0px 62px 25px rgba(9, 11, 17, 0.01),
    0px 35px 21px rgba(9, 11, 17, 0.05), 0px 16px 16px rgba(9, 11, 17, 0.1),
    0px 4px 9px rgba(9, 11, 17, 0.12);


    /* spacing */
    --gap-2: 0.5rem;
    --gap-4: 1rem;
    --gap-8: 2rem;
    --gap-10: 2.5rem;
    --gap-12: 3.75rem;
    --gap-16: 5rem;
    --gap-20: 7.5rem;
    --gap-32: 10rem;
    --gap-36: 12rem;


    /* utils */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  font-family: var(--font-default);
}

body {
  background-color: var(--gray-100);
  color: var(--gray-50);
  font-family: var(--font-default);
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
  font-weight: var(--fw-regular);
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-size: var(--fs-900);
}

h2 {
  font-size: var(--fs-800);
}

h3 {
  font-size: var(--fs-700);
}

h4 {
  font-size: var(--fs-600);
}

h5 {
  font-size: var(--fs-500);
}

/* gap */
.gap-2 {
  gap: 0.5rem;
}

.gap-4 {
  gap: 1rem;
}

.gap-8 {
  gap: 2rem;
}

.gap-10 {
  gap: 2.5rem;
}

.gap-15 {
  gap: 3.75rem;
}

.gap-20 {
  gap: 5rem;
}

.gap-30 {
  gap: 7.5rem;
}

.gap-48 {
  gap: 12rem;
}


/* utils */
.space-between {
  display: flex;
  justify-content: space-between;
}

.flex {
  display: flex;
}


