---
import { getCollection, getEntry } from "astro:content";

const experiences = await getCollection("experience");
---

<section id="experience" class="mb-10 pt-11 section-glow">
  <h2 class="fade mb-8">Experience</h2>
  <div class="flex wrap gap-12">
    {
      experiences.map(({ data }) => (
        <div class="experience-card card-glow p-4">
          <div class="flex">
            <h5>{data.title}</h5>
            <span>{data.date}</span>
          </div>
          <ul>
            {data.description?.map((jobDescritop) => (
              <li>{jobDescritop}</li>
            ))}
          </ul>
        </div>
      ))
    }
  </div>
  <div class="flex center pt-10 pb-13">
    <button>Check more</button>
  </div>
</section>

<style lang="scss">
  @use "../style/variables/mixins" as *;

  .experience-card {
    width: 100%;
    @include screen(laptop) {
      width: 45%;
    }
  }

  p,
  li {
    font-size: small;
    margin-left: 1rem;
  }
</style>
