---
import Icon from "@components/common/Icon.astro";
---

<section class="section-intro | pt-20">
  <div class="even-columns">
    <div class="intro flow flow-large">
      <p>
        <span class="intro | fw-semi-bold fs-2xl flex gap-3 mb-2">
          Hi, I'm <span class="animated-name">Hadad ✋🏼</span>
        </span>

        A software <span class="highlight">person</span> with a passion for translating
        instructions to computers. If you are up for it let’s build a better, kind
        and more connected future together. Welcome to my digital realm! ✨ 🚀
        <br />
        <span class="">▷ This is the way.</span>
      </p>
      <div class="action-buttons | flex gap-4">
        <a target="_blank" href="https://cal.com/hadad" class="button"
          >Let's talk</a>
        <!--<a-->
        <!--  target="_blank"-->
        <!--  href="https://bit.ly/hadad-cv"-->
        <!--  class="flex center gap-1 fw-semi-bold highlight-accent decoration-none fs-sm"-->
        <!--  >Resume <Icon-->
        <!--    icon="link"-->
        <!--    size="10"-->
        <!--    data-class="main-illustration"-->
        <!--  /></a>-->
      </div>
    </div>
    <div class="illustration-container">
      <Icon icon="avatar2" size="800px" color="var(--color-primary-700)" />
      <!-- <img src={Personna.src} alt=""> -->
    </div>
  </div>
  <div class="arrow-direction">
    <a href="#experience">
      <Icon icon="arrowDown" size="35" color="var(--color-neutral-500)" />
    </a>
  </div>
</section>

<style is:global lang="scss">
  @use "../style/variables/mixins" as *;
  @use "../style/variables/functions" as *;

  .section-intro {
    min-height: calc(100vh - 200px);
    @include screen(mobile) {
      padding-top: size(14);
      margin-top: size(10);
      .action-buttons a {
        font-size: large;
      }
    }
  }

  // typing effect animation
  span.intro {
    .animated-name {
      border-right: solid 5px rgba(255, 255, 255, 0.75);
      white-space: nowrap;
      overflow: hidden;
      color: #ff7f50;

      animation: animated-text 2s linear 1s 1 normal both,
        animated-cursor 1s linear infinite;
    }
    @include screen(mobile) {
      font-size: 2.3rem;
      .animated-name {
        animation: animated-text-mobile 2s linear 1s 1 normal both,
          animated-cursor 1s linear infinite;
      }
    }
  }

  /* text animation */
  @keyframes animated-text-mobile {
    from {
      width: 0;
    }
    to {
      width: 175px;
    }
  }
  @keyframes animated-text {
    from {
      width: 0;
    }
    to {
      width: 270px;
    }
  }
  /* cursor animations */
  @keyframes animated-cursor {
    from {
      border-right-color: var(--color-neutral-800);
    }
    to {
      border-right-color: transparent;
    }
  }
  @keyframes blink {
    from {
      border: var(--color-neutral-500);
      color: var(--color-neutral-500);
    }
    to {
      border: transparent;
      color: transparent;
    }
  }

  .illustration-container {
    position: relative;
    svg {
      position: absolute;
      z-index: -1;
      inset: -140px auto;
    }

    @include screen(mobile) {
      display: none;
    }
  }

  .arrow-direction {
    position: absolute;
    bottom: 2%;
    left: 45%;
    z-index: 2;
    a {
      animation: blink 1s linear infinite;
    }
  }
</style>
