---
import { Image } from "astro:assets";
import Personna from "@assets/persona.svg";
import SVG from "./SVG.astro";
import Intro from "./Intro.astro";
import Experience from "./Experience.astro";
import Projects from "./Projects.astro";
---

<main>
  <Intro />
  <Experience />
  <Projects />
</main>
