---
import Icon from "./SVG.astro";

const menus: { label: string; href: string }[] = [
  { label: "About", href: "/#about" },
  { label: "Experience", href: "/#experience" },
  { label: "Projects", href: "/#projects" },
  { label: "Contact", href: "/#contact" },
];
---

<div class="header py-5 mb-12">
  <div class="even-columns">
    <a href="/" class="site-title flex">
      <Icon
        icon="terminal-window"
        color="var(--accent-gradient)"
        size="1.6em"
        gradient
      />
      <span>Hadad Dus</span>
    </a>
    <nav>
      <ul class="flex center">
        {
          menus.map((menu, index) => (
            <li class="menu-item">
              <a href={menu.href}>
                <span class="menu-item-number text-accent-400">
                  0{index + 1}.{" "}
                </span>
                {menu.label}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
    <button>Github</button>
  </div>
</div>

<style>


  a {
    --font-size: var(--fs-500);
    text-decoration: none;
    font-size: var(--font-size);
    font-weight: var(--fw-bold);
  }
  .nav-items {
  }
  .menu ul {
    list-style: none;
    gap: var(--gap-8);
  }

  .menu-item a {
    font-size: var(--fs-300);
  }
  .menu-item-number {
    font-size: var(--fs-200);
    color: #ba90c6;
  }
</style>
