---
import { getCollection, getEntry } from "astro:content";

const projects = await getCollection("projects");
const sortedProject = projects.sort(
  (a, b) => a.data.sortOrder - b.data.sortOrder
);
---

<section class="mt-10">
  <h2 class="fade">Projects</h2>
  <p>I've hacked around few things worth looking at</p>

  <div class="flex wrap gap-10 mt-8">
    {
      sortedProject.map(({ data }) => (
        <div class="project-card | pt-3">
          <div class="flex justify-between  px-2">
            <h4>{data.title}</h4>
            <span>:icon-link</span>
          </div>
          <p class="description | my-5  px-2 line-clamp-3">
            {data.description}
          </p>
          <div class="flex gap-3 bg-neutral-100 py-1 px-2">
            <a href={data.link} class="flex">
              <span>:icon-github</span>
              Github
            </a>
            <span>|</span>
            <ul class="flex gap-2">
              {data.tags?.map((jobDescritop) => (
                <li>{jobDescritop}</li>
              ))}
            </ul>
          </div>
        </div>
      ))
    }
  </div>
  <div class="flex center mt-10">
    <button>Check more</button>
  </div>
</section>

<style lang="scss">
  // this is only used to add media query for laptop specific styles
  @use "../style/variables/mixins";

  .project-card {
    width: 100%;
    border: 1px solid grey;
    border-top: 3px solid var(--color-accent-700);
    border-radius: 5px;

    h4 {
      font-size: 1.2rem;
    }
    @include mixins.screen(laptop) {
      width: 40%;
    }
  }

  .description {
    min-height: 3.7rem;
  }

  p,
  li,
  span,
  a {
    font-size: small;
  }

  ul {
    list-style: none;
  }
</style>

<!--  TODO: add illustration above
 - card background like gitness
 - on hover header color to accent
 - something about border and glow -->
