---
import { getCollection, getEntry } from "astro:content";
import Icon from "./common/Icon.astro";
import { type iconPathsType } from "constants/IconPaths";

const { data: skills } = await getEntry("skills", "2023");

const getIconName = (name: string): iconPathsType => {
  const formattedName = name?.toLowerCase()?.replaceAll(/\/|\s/g, "-");
  return (formattedName || "js") as iconPathsType;
};
---

<section id="skills" class="mb-10 pt-11 section-glow">
  <h2 class="fade inline-block">Skills</h2>
  <p class="fs-xs text-neutral-500 mb-6"></p>

  <div class="flow flow-normal">
    {
      Object.keys(skills).map((skill) => (
        <div>
          <h4>{skill}</h4>
          <div class="flex fs-xs fw-semi-bold gap-4 wrap mt-2">
            {skills[skill].map((name) => (
              <div class="flex gap-2 center tag">
                <Icon icon={getIconName(name)} size="25" color="black" />
                <span>{name}</span>
              </div>
            ))}
          </div>
        </div>
      ))
    }
  </div>

  <div class="flex center mt-10">
    <a target="_blank" href="https://docs.google.com/presentation/d/1cLslzP-80ckfdujeGVqAtGuy4MHQXL_d/view#slide=id.p2" class="button"
      >Check more</a
    >
  </div>
</section>

<style></style>
