---
import { getCollection, getEntry } from "astro:content";
import Icon from "./common/Icon.astro";
import { type iconPathsType } from "constants/IconPaths";


const { data: skills } = await getEntry("skills", "2023");

const getIconName = (name: string): iconPathsType => {
  const formattedName = name?.toLowerCase()?.replaceAll(/\/|\s/g, "-");
  return (formattedName || "js") as iconPathsType;
}

---

<section  id="skills" class="mb-10 pt-11 section-glow">
  <h2 class="fade inline-block">Skills</h2>
  <p class="fs-xs text-neutral-500 mb-8">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus quis
    minima molestias, blanditiis,
  </p>

  <div class="flow flow-normal">
    {
      Object.keys(skills).map((skill) => (
        <div>
          <h4>{skill}</h4>
          <div class="flex fs-xs fw-semi-bold gap-4 wrap">
            {skills[skill].map((name) => (
              <div class="flex gap-2 center tag">
                <Icon icon={getIconName(name)} size="25" color="black" />
                <span>{name}</span>
              </div>
            ))}
          </div>
        </div>
      ))
    }
  </div>
</section>

<style></style>
