---
import Head from "../components/Head.astro";
import Nav from "../components/Nav.astro";

export interface Props {
  title?: string;
  description?: string;
}

const {
  title = "Hadad Personal Site",
  description = "The personal site of Hadad Dus Bwenge",
} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <Head title={title} description={description} />
  </head>
  <body class="gap-8">
    <Nav />
    <slot />
    <!-- <Footer /> -->

  </body>
</html>
